body {
    color: crimson
}

h1 {
    font-size: 3em;
    color: navy;
    text-align: center;
    text-transform: uppercase;
}

th {
    background-color: navy;
    color: white;
    padding: 12px;
}
td {
    background: #f9f9f9;
    font-size: italic;
    border: 2px solid #ddd;
    text-align: center;
    font-weight: 600;
    padding:  10 px;
}
