body {
    color: crimson
}

h1 {
    font-size: 3em;
    color: navy;
    text-align: center;
    text-transform: uppercase;
}

th {
    background-color: navy;
    color: white;
    padding: 12px;
}
